[tools]
terraform = "latest"
gcloud = "latest"

[env]
USER_PROJECT_OVERRIDE = "true"
CLOUD_RUN_LOCATION = "us-central1"

[tasks."plan"]
run = """
  readonly pj="$(gcloud config get project)"
  if [[ -n "${pj:-}" ]]; then
    GOOGLE_BILLING_PROJECT="${pj}" terraform plan
  fi
"""

[tasks."apply"]
run = """
  readonly pj="$(gcloud config get project)"
  if [[ -n "${pj:-}" ]]; then
    GOOGLE_BILLING_PROJECT="${pj}" terraform apply
  fi
"""

[tasks."stop"]
run = """
  terraform destroy -target google_cloud_run_v2_service.openclaw -auto-approve
"""

[tasks."proxy"]
run = """
  gcloud run services proxy openclaw-service --region "${CLOUD_RUN_LOCATION}" --port=8080
"""

[tasks."rsync"]
run = """
  readonly pj="$(gcloud config get project)"
  if [[ -n "${pj:-}" ]]; then
    gcloud storage rsync -r "gs://${pj}-openclaw-data/" ./.openclaw/
  fi
"""

[tasks."rsync-local-to-bucket"]
run = """
  readonly pj="$(gcloud config get project)"
  if [[ -n "${pj:-}" ]]; then
    gcloud storage rsync -r ./.openclaw "gs://${pj}-openclaw-data/"
  fi
"""

[tasks."clean-bucket"]
run = """
  readonly pj="$(gcloud config get project)"
  if [[ -n "${pj:-}" ]]; then
    gcloud storage rm -r "gs://${pj}-openclaw-data/*"
  fi
"""
